 #why-choose {
    justify-items: center;
    padding: 3rem;
}
#why-choose h1 {
    font-size: 50px;
    margin-bottom: 7rem;
}

.choose-options {
    display: flex;
    justify-content: space-evenly;
}
.choose-options .fa-solid {
    font-size: 80px;
}

.option {
    justify-items: center;
    text-align: center;
}
.option h2 {
    color: #289323;
    margin: 1rem;
}

.option-txt {
    width: 50%;
}
.option-text {
    width: 70%;
}

.how-it-works {
    padding: 5rem 0 5rem 20rem;
    align-content: center;
    font-size: 50px;
    margin-bottom: 5rem;

    h1{
          font-size: 50px;
    }
}

.step {
    align-self: center;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

.circle {
    height: 75px;
    width: 75px;
    border-radius: 100px;
    border: #003A2A solid 5px;
    justify-items: center;
    align-content: center;
    margin: 0.5rem;
}
.circle-1 {
    border: #289323 solid 5px;
    border-top: none;
}
.circle-2 {
    border-right: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.steps-prototype {
    background-color: rgb(0, 58, 42);
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 3rem;
    width: 60%;
    border-radius: 50% / 100% 100% 0% 0%;
}
.steps-prototype img {
    height: 300px;
    width: 150px;
}
.first-page {
    margin-top: -3rem;
    transform: rotate(-20deg);
}
.second-page {
    margin-top: -7rem;
}
.third-page {
    margin-top: -3rem;
    transform: rotate(20deg);
}
@media only screen and (max-width: 900px){
#why-choose h1,
    .categories-section h1,
    .how-it-works h1,
    .help-section h1 {
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
    }
    .option-txt,
    .option-text {
        width: 100%;
    }
.choose-options{
    flex-direction: column;
}
    .option {
        justify-items: center;
        text-align: center;
    }
    .option h2 {
        color: #289323;
        font-size: 20px;
        margin: 1rem;
    }
    .option-txt {
        width: 50%;
    }
    .option-text {
        width: 70%;
    }
     .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-items: center;
        gap: 1rem;
    }
    .steps-prototype {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        gap: 1rem;
    }
    .steps-prototype img {
        width: 80vw;
        height: auto;
        max-width: 250px;
        margin: 0 auto;
    }
    .first-page,
    .second-page,
    .third-page {
        width: 100%;
        margin: 1rem 0 0 0;
        transform: none;
       img{
         box-shadow: 3px 2px 4px black;
       }
    }
 .how-it-works {
        padding: 2rem 0.5rem;
        flex-direction: column;
    }
    .steps{
        justify-self: center;
    }
}
@media only screen and (min-width:781px) and (max-width: 1024px){
.how-it-works{
        padding:5px;
        justify-items: center;
    }
    .first-page,
    .second-page,
    .third-page{
        transform: none;
        margin-top: 3rem;
    }
    .steps-prototype{
        gap:10px;
    }
}
@media only screen  and (min-width:1025px) and (max-width: 1280px){
    .how-it-works{
        padding: 3rem;
    }
     .step {
        font-size: 15px;
    }
    .steps-prototype {
        border-radius: 50% / 100% 100% 0% 0%;
        width: 50%;
        padding-left: -4%;
    }
    .steps-prototype img {
        height: 285px;
        width: 135px;
    }
    .container {
        margin-left: -4%;
    }
}